#uses-1{
	font-size: 2.3em;
}

#uses-2{
	font-size: 2.2em;
}

#uses-3{
	font-size: 1.9em;
}

#uses-4{
	font-size: 2.5em;
}

#uses-5{
	font-size: 2.3em;
}

#uses-5-1{
	font-size: 2.5em;
}

#uses-7{
	font-size: 2.5em;
}