article#intro.step(data-x="2000")
	h2 JSON
	p
		dfn JSON 
		| is an acronym of javascript object notation but it's a very extended format across all the web, and today, many of the things you did with XML, are made with JSON.
	br
	p It's a language to easily transport, read and modify data, across too many programing languages.